/** LOGIN FORM - BEGIN**/

.form-signin input#at-field-username_and_email {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input#at-field-password {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#at-nav-button {
	cursor:pointer;
}
/** LOGIN FORM - END **/